@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.AboutContain {
  font-family: "Oswald", sans-serif;
  background-color: #b9b9b9d5;
  background-image: url("../../assets/Tk.png");
  background-size: cover;
  background-position-x: center;
}

.dataContain {
  padding-block: 10rem;
  margin-inline: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.dataContain h4 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.dataContain p {
  font-size: 2rem;
  margin: 0;
}

.divContain {
  background-color: #0399d9ad;
  border-radius: 15px;
  padding: 1rem;
}

.subDivContain {
  padding: 2rem;
  display: flex;
  gap: 20px;
  text-align: start;
  justify-content: space-evenly;
  align-items: center;
}
.subDivContain p{
  width: 50%;
}

.subDivContain img {
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
  height: 300px;
}

@media (max-width: 1200px) {
  .subDivContain {
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
  }

  .subDivContain p {
    font-size: 1rem;
    width: 100%;
  }
  .subDivContain img {
    object-fit: cover;
  }
}

@media (max-width: 800px) {
  .dataContain {
    margin-inline: 1rem;
    gap: 1rem;
    padding-bottom: 3rem;
  }

  .divContain {
    margin-inline: 1rem;
  }

  .subDivContain {
    text-align: center;
    width: 100%;
    padding:0;
  }
  .subDivContain p {
    font-size: 1rem;
    background-color: #0399d98e;
    border-radius: 10px;
  }
  .divContain h4 {
    font-size: 1.5rem;
  }
  .subDivContain img {
    display: none;
  }
  .nosotros {
    background-image: url("../../assets/thercarCamioneta.jpg");
    background-size: cover;
  }
  .mision {
    background-image: url("../../assets/cotoCamioneta.jpg");
    background-size: cover;
  }
  .vision {
    background-image: url("../../assets/vision.jpg");
    background-size: cover;
  }
  .aquien {
    background-image: url("../../assets/quienyComo.jpg");
    background-position: 0;
    background-size: cover;
  }
}
