@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.AboutContain {
  font-family: "Oswald", sans-serif;
  background-color: #b9b9b9d5;
}

.dataContain {
  padding-block: 10rem;
  margin-inline: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.dataContain h4 {
  font-size: 3rem;
  margin: 0;
  padding: 0;
}

.dataContain p {
  font-size: 2rem;
  margin: 0;
}

.divContain {
  background-color: #0399d9;
  border-radius: 15px;
  padding: 1rem;
}

.subDivContain {
  display: flex;
  gap: 20px;
  text-align: start;
}

.subDivContain img {
  width: 30%;
  border-radius: 10px;
  object-fit: cover;
}

@media (max-width: 1300px) {
 
  .subDivContain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
  }
  .subDivContain img {
    display: none;
  }
}

@media (max-width: 870px) {
  .dataContain {
    margin-inline: 1rem;
    gap: 1rem;
    padding-bottom: 3rem;
  }

  .divContain {
    margin-inline: 1rem;
  }

  .subDivContain {
    text-align: center;
  }
  .subDivContain p {
    font-size: 1rem;
  }
  .divContain h4 {
    font-size: 1.5rem;
  }
  .subDivContain img {
    display: none;
  }
}
