@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.contain {
  font-family: "Oswald", sans-serif;
  background-color: #b9b9b9d5;
}

.banner {
  color: white;
}

.banner p {
  font-size: 5rem;
  position: absolute;
  left: 5%;
  top: 30%;
  font-weight: 900;
  background-color: #0399d93b;
  border-radius: 25px;
  padding: 1rem;
  transition: 1s;
}

.banner p:hover {
  background-color: #0399d9;
  transition: 1s;
}

.imgbanner {
  width: 100%;
}

.servicesContainMain {
  display: flex;
  flex-direction: column;
}

.servicesContain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.services {
  background-color: red;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 300px;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.mantenimiento {
  background-image: url("../../assets/repaciones.png");
}
.center {
  background-image: url("../../assets/repuestos.png");
}
.auxilio {
  background-image: url("../../assets/servicio.png");
  background-position: 0;
}


.mantenimiento p,
.center p,
.auxilio p {
  color: white;
  padding: 1rem;
  width: 400px;
  transition: 2s;
  background-color: #0399d971;
}

.mantenimiento:hover p,
.auxilio:hover p,
.center:hover p {
  transition: 2s;
  filter: saturate(100%);
  background-color: #0399d9;
}

.horariosContain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.horariosContain button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #0399d9;
  padding: 1rem;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  border: 3px solid black;
}

.horariosContain a {
  text-decoration: none;
}

.horariosContain button:hover {
  cursor: pointer;
}

@media (max-width: 870px) {
  .imgbanner {
    height: 40vh;
  }

  .banner p {
    left: 2rem;
    top: 5rem;
  }

  .horariosContain {
    margin-left: 1rem;
  }

  .servicesContain {
    /* flex-direction: column; */
    padding-bottom: 1rem;
  }

  .servicesContain p {
    padding: 1rem;
  }

  .servicesContainMain {
    margin-bottom: 1.5rem;
  }

  .horariosContain {
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
