.contain {
  width: 100%;
  background-color: #ffffff;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  font-family: "Oswald", sans-serif;
  border-bottom: 1px solid #0399d9;
}

.logo img {
  width: 5rem;
  padding-left: 6rem;
}

.routes {
  display: flex;
  gap: 10px;
  padding-right: 3rem;
  font-size: 1.5rem;
}

.link {
  text-decoration: none;
  color: #ffffff;
  background-color: #0399d9;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  border-radius: 10px;
}

.link:hover {
  color: #075081;
}

.containMobile {
  display: none;
}

@media (max-width: 870px) {
  
  .contain {
    display: none;
  }

  .containMobile {
    display: block;
    height: fit-content;
    background-color: white;
    position: fixed;
    width: 100%;
    justify-content: center;
    z-index: 1;
    font-family: "Oswald", sans-serif;
  }

  .routesMobile {
    background-color: white;
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding-block: 2rem;
    font-size: 2rem;
  }

  .routesMobileInactive {
    display: none;
  }

  .linkMobile {
    text-decoration: none;
    color: #075081;
  }

  .logoMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
  }

  .logoMobile img {
    width: 6rem;
  }

  .closeButton {
    display: flex;
    justify-content: flex-end;
  }
}
